@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root{
   --main-color:#219ebc;
   --red:#e74c3c;
   --oragen:#f39c12;
   --white:#fff;
   --black:#2c3e50;
   --light-color:#888;
   --light-bg:#eee;
   --border:.1rem solid rgba(0,0,0,.2);
}

*{
   font-family: 'Nunito', sans-serif;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::selection{
   background-color: var(--main-color);
   color: #fff;
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background-color: var(--light-bg);
   padding-left: 30rem;
   /* padding-bottom: 7rem; */
}

body.active{
   padding-left: 0;
}

body.dark{
   --white:#222;
   --black:#fff;
   --light-color:#aaa;
   --light-bg:#333;
   --border:.1rem solid rgba(255,255,255,.2);
}

.logo_img{
   height: 5rem;
   width: auto;
   padding-top: 12px;
}

section{
   padding:2rem;
   max-width: 1200px;
   margin: 0 auto;
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
   border-radius: .5rem;
   padding: 1rem 3rem;
   font-size: 1.8rem;
   color: #fff;
   margin-top: 1rem;
   text-transform: capitalize;
   cursor: pointer;
   text-align: center;
}

.btn,
.option-btn,
.delete-btn{
   display: block;
   width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
   display: inline-block;
}

.btn,
.inline-btn{
   background-color: var(--main-color);
}

.option-btn,
.inline-option-btn{
   background-color: var(--oragen);
}

.delete-btn,
.inline-delete-btn{
   background-color: var(--red);
}

.empty{
   width: 100%;
   background-color: var(--white);
   color: var(--main-color);
   padding: 2rem;
   text-align: center;
   font-size: 2rem;
   border-radius: .5rem;
}

.message{
   position: sticky;
   top:0;
   left: 0;
   right: 0;
   background-color: var(--light-bg);
   padding:2rem;
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;
   text-transform: capitalize;
}

.message.form{
   max-width: 1200px;
   margin: 0 auto;
   background-color: var(--white);
   top: 2rem;
   border-radius: .5rem;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   font-size: 2.5rem;
   color:var(--red);
   cursor: pointer;
   transition: .2s linear;
}

.message i:hover{
   transform: rotate(90deg);
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover{
   background-color: var(--black);
   color: var(--white);
}

.flex-btn{
   display:flex;
   gap: 1rem;
}

.header{
   background-color: var(--white);
   border-bottom: var(--border);
   position: sticky;
   top: 0; 
   left: 0; 
   right: 0;
   z-index: 1000;
}

.header .flex{
   padding: 1.5rem 2rem;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header .flex .logo{
   font-size: 2rem;
   color: var(--black);
   font-weight: bolder;
}

/* .header .flex .logo span{
   line-height: -5;
   padding-bottom: 89px;
} */

.header .flex .search-form{
   width: 50rem;
   border-radius: .5rem;
   display: flex;
   align-items: center;
   gap: 2rem;
   padding: 1.5rem 2rem;
   background-color: var(--light-bg);
}

.header .flex .search-form input{
   width: 100%;
   background:none;
   font-size: 2rem;
   color: var(--black);
}

.header .flex .search-form button{
   font-size: 2rem;
   color: var(--black);
   cursor: pointer;
   background: none;
}

.header .flex .search-form button:hover{
   color: var(--main-color);
}

.header .flex .icons div{
   font-size: 2rem;
   color: var(--black);
   border-radius: .5rem;
   height: 4.5rem;
   cursor: pointer;
   width: 4.5rem;
   line-height: 4.4rem;
   background-color: var(--light-bg);
   text-align: center;
   margin-left: .5rem;
}

.header .flex .icons div:hover{
   background-color: var(--black);
   color:var(--white);
}

#search-btn{
   display: none;
}

.header .flex .profile{
   position: absolute;
   top: 120%; 
   right: 2rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   text-align: center;
   width: 30rem;
   transform: scale(0);
   transform-origin: top right;
   overflow-x: hidden;
}

.header .flex .profile.active{
   transform: scale(1);
   transition: .2s linear;
}

.header .flex .profile h3{
   font-size: 2rem;
   color: var(--black);
}

.header .flex .profile img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: .5rem;
}

.header .flex .profile span{
   color: var(--light-color);
   font-size: 1.6rem;
}

.side-bar{
   position: fixed;
   top: 0; 
   left: 0;
   height: 100vh;
   width: 30rem;
   background-color: var(--white);
   border-right: var(--border);
   z-index: 1200;
}

.side-bar.active{
   left: -31rem;
}

.side-bar .profile{
   padding:3rem 2rem;
   text-align: center;
}

.side-bar .profile h3{
   font-size: 2rem;
   color: var(--black);
}

.side-bar .profile img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: .5rem;
}

.side-bar .profile span{
   color: var(--light-color);
   font-size: 1.6rem;
}

.side-bar .navbar a{
   display:block;
   padding: 2rem;
   margin: .5rem 0;
   font-size: 1.8rem;
}

.side-bar .navbar a i{
   color: var(--main-color);
   margin-right: 1.5rem;
   transition: .2s linear;
}

.side-bar .navbar a span{
   color: var(--light-color);
}

.side-bar .navbar a:hover{
   background-color: var(--light-bg);
}

.side-bar .navbar a:hover i{
   margin-right: 2.5rem;
}

.side-bar #close-bar{
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;
}

.side-bar #close-bar i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.4rem;
    color: #fff;
    background: var(--red);
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-align: center;
}

.heading{
   padding-bottom: 1.8rem;
   border-bottom: var(--border);
   font-size: 2.5rem;
   color: var(--black);
   text-transform: capitalize;
   margin-bottom: 2rem;
}

.quick-select .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
   gap: 1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.quick-select .box-container .box{
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
}

.quick-select .box-container .box p{
   line-height: 1.5;
   padding-top: 1.5rem;
   color: var(--light-color);
   font-size: 1.4rem;
}

.quick-select .box-container .box p span{
   color: var(--main-color);
}

.quick-select .box-container .box .title{
   font-size: 2rem;
   color: var(--black);
   text-transform: capitalize;
}

.quick-select .box-container .box .flex{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   padding-top: 2rem;
   margin-top: 1.5rem;
}

.quick-select .box-container .box .flex a{
   border-radius: .5rem;
   background-color: var(--light-bg);
   font-size: 1.6rem;
   color: var(--light-color);
   padding: 1rem;
}

.quick-select .box-container .box .flex a i{
   margin-right: .7rem;
   color: var(--black);
   font-size: 1.5rem;
}

.quick-select .box-container .box .flex a:hover{
   background-color: var(--black);
}

.quick-select .box-container .box .flex a:hover i{
   color: var(--white);
}

.quick-select .box-container .box .flex a:hover span{
   color: var(--white);
   text-transform: uppercase;
}

.quick-select .box-container .box.tutor{
   text-align: center;
}

.quick-select .box-container .box.tutor a{
   margin-top: 1.7rem;
}

.courses .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap: 1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.courses .box-container .box{
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
   overflow-x: hidden;
}

.courses .box-container .box .thumb{
   position: relative;
   height: 20rem;
   /* margin: 1.5rem 0; */
}

.courses .box-container .box .thumb img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: .5rem;
}

.courses .box-container .box .thumb span{
   position: absolute;
   top: 1rem;
   left: 1rem;
   border-radius: .5rem;
   background-color: rgba(0,0,0,.3);
   color: #fff;
   padding: .5rem 1.5rem;
   font-size: 1.7rem;
}

.courses .box-container .box .tutor{
   display: flex;
   gap: 1.5rem;
   align-items: center;
   margin-bottom: 2rem;
}

.courses .box-container .box .tutor img{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   object-fit: cover;
}

.courses .box-container .box .tutor h3{
   font-size: 1.7rem;
   color: var(--black);
   margin-bottom: 0.2rem;
}

.courses .box-container .box .tutor span{
   font-size: 1.5rem;
   color: var(--light-color);
}

.courses .box-container .box .title{
   margin-top: 1.5rem;
   font-size: 1.6rem;
   color: var(--black);
   overflow-x: hidden;
   text-overflow: ellipsis;
   padding: .5rem 0;
}

.about .row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.about .row .image{
   flex: 1 1 50rem;
}

.about .row .image img{
   height: 50rem;
   width: 100%;
}

.about .row .content{
   flex: 1 1 50rem;
   text-align: center;
}

.about .row .content h3{
   font-size: 2.5rem;
   color: var(--black);
}

.about .row .content p{
   line-height: 2;
   font-size: 1.8rem;
   color: var(--light-color);
   padding: 1rem 0;
}

.about .box-container{
   margin-top: 3rem;
   display: flex;
   gap: 1.5rem;
   flex-wrap: wrap;
}

.about .box-container .box{
   flex: 1 1 25rem;
   display: flex;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   align-items: center;
   gap: 2rem;
}

.about .box-container .box i{
   font-size: 3rem;
   color: var(--black);
}

.about .box-container .box h3{
   color: var(--main-color);
   font-size: 2.5rem;
   margin-bottom: .2rem;
}

.about .box-container .box p{
   font-size: 1.7rem;
   color: var(--light-color);
}

.reviews .box-container{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;

}

.reviews .box-container .box{
   padding: 2rem;
   border-radius: .5rem;
   background-color: var(--white);
   flex: 1 1 30rem;
}

.reviews .box-container .box .user{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   margin-top: 2rem;
}

.reviews .box-container .box .user img{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   object-fit: cover;
}

.reviews .box-container .box .user h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .5rem;
   text-transform: capitalize;
}

.reviews .box-container .box .user .stars i{
   color: var(--oragen);
   font-size: 1.5rem;
   margin-bottom: .4rem;
}

.reviews .box-container .box p{
   line-height: 2;
   font-size: 1.7rem;
   color: var(--light-color);
}

.playlist-details .row{
   display: flex;
   align-items: flex-end;
   gap:2.5rem;
   flex-wrap: wrap;
   padding: 3rem;
   background-color: var(--white);
   border-radius: .5rem;
   overflow-x: hidden;
}

.playlist-details .row .col{
   flex: 1 1 40rem;
}

.playlist-details .row .col .thumb{
   position: relative;
   height: 30rem;
   margin-top: 2rem;
}

.playlist-details .row .col .thumb span{
   position: absolute;
   top: 1rem; left: 1rem;
   padding: .5rem 1.5rem;
   background-color: rgba(0,0,0,.3);
   color: #fff;
   border-radius: .5rem;
   font-size: 1.7rem;
}

.playlist-details .row .col .thumb img{
   width: 100%;
   height: 100%;
   border-radius: .5rem;
   object-fit: cover;
}

.playlist-details .row .col button{
   margin-top: 0;
}

.playlist-details .row .col button i{
   color: var(--white);
   margin-right: 1rem;
}

.playlist-details .row .col .tutor{
   display: flex;
   align-items: center;
   gap: 1.7rem;
   margin-bottom: 2rem;
}

.playlist-details .row .col .tutor img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   object-fit: cover;
}

.playlist-details .row .col .tutor h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.playlist-details .row .col .tutor span{
   color: var(--light-color);
   font-size: 1.5rem;
}

.playlist-details .row .col .title{
   text-overflow: ellipsis;
   overflow-x: hidden;
   color: var(--black);
   font-size: 2rem;
}

.playlist-details .row .col .description{
   line-height: 2;
   padding: 1rem 0;
   font-size: 1.7rem;
   color: var(--light-color);
}

.playlist-details .row .col .date{
   font-size: 1.7rem;
   margin-top: 1rem;
   background-color: var(--light-bg);
   padding: .5rem 1.5rem;
   display: inline-block;
   border-radius: .5rem;
}

.playlist-details .row .col .date i{
   margin-right: 1rem;
   color: var(--main-color);
}

.playlist-details .row .col .date span{
   color: var(--light-color);
}

.playlist-videos .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap: 1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.playlist-videos .box-container .box{
   position: relative;
   border-radius: .5rem;
   padding: 2rem;
   background-color: var(--white);
   overflow-x: hidden;
}

.playlist-videos .box-container .box img{
   height: 20rem;
   width: 100%;
   border-radius: .5rem;
   object-fit: cover;
   margin-bottom: 1.5rem;
}

.playlist-videos .box-container .box i{
   position: absolute;
   top: 2rem; left: 2rem; right: 2rem;
   height: 20rem;
   background-color: rgba(0,0,0,.3);
   /* display: flex; */
   align-items: center;
   justify-content: center;
   font-size: 4rem;
   color: #fff;
   border-radius: .5rem;
   display: none;
}

.playlist-videos .box-container .box:hover i{
   display: flex;
}

.playlist-videos .box-container .box h3{
   font-size: 2rem;
   color: var(--black);
   margin-top: 1rem;
   text-overflow: ellipsis;
}

.playlist-videos .box-container .box:hover h3{
   color: var(--main-color);
}

.watch-video .content{
   background-color: var(--white);
   padding: 2rem;
   border-radius: .5rem;
   overflow-x: hidden;
}

.watch-video .content .video{
   width: 100%;
   border-radius: .5rem;
   background: #000;
   height: 40rem;
   object-fit: contain;
}

.watch-video .content .title{
   font-size: 2rem;
   color: var(--black);
   margin: 1.7rem 0;
   text-overflow: ellipsis;
}

.watch-video .content .info{
   display: flex;
   gap: 2rem;
   padding-bottom: 1.5rem;
   border-bottom: var(--border);
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: .5rem 0;
}

.watch-video .content .info p{
   font-size: 1.6rem;
   padding: .5rem 1.5rem;
   background-color: var(--light-bg);
   border-radius: .5rem;
}

.watch-video .content .info p i{
   margin-right: 1rem;
   color: var(--main-color);
}

.watch-video .content .info p span{
   color: var(--light-color);
}

.watch-video .content .tutor{
   padding: 2rem 0;
   display: flex;
   align-items: center;
   gap: 2rem;
   margin-top: 2rem;
   margin-bottom: 1.5rem;
}

.watch-video .content .tutor h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.watch-video .content .tutor span{
   color: var(--light-color);
   font-size: 1.5rem;
}

.watch-video .content .tutor img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   object-fit: cover;
}

.watch-video .content .flex{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   justify-content: space-between;
}

.watch-video .content .flex a{
   margin-top: 0;
}

.watch-video .content .flex button i{
   color: var(--black);
   /* margin-right: 1rem; */
}

.watch-video .content .flex button{
   background-color: var(--light-bg);
   cursor: pointer;
   padding: 1.5rem 1.5rem;
   font-size: 2rem;
   border-radius: .5rem;
}

.watch-video .content .description{
   padding-top: 2rem;
}

.watch-video .content .description p{
   line-height: 1.5;
   font-size: 1.7rem;
   color: var(--light-color);
   white-space: pre-line;
}

.teachers .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap: 1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.teachers .box-container .box{
   border-radius: .5rem;
   padding: 2rem;
   background-color: var(--white);
   overflow-x: hidden;
}

.teachers .box-container .box .tutor{
   margin-bottom: 1rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.teachers .box-container .box .tutor img{
   height: 5rem;
   width: 5rem;
   object-fit: cover;
   border-radius: 50%;
}

.teachers .box-container .box .tutor h3{
   color: var(--black);
   font-size: 2rem;
   margin-bottom: .2rem;
   text-overflow: ellipsis;
   overflow-x: hidden;
}

.teachers .box-container .box .tutor span{
   color: var(--light-color);
   font-size: 1.5rem;
}

.teachers .box-container .box p{
   padding-top: 1rem;
   font-size: 1.7rem;
   color: var(--light-color);
}

.teachers .box-container .box p span{
   color: var(--main-color);
}

.teachers .box-container .box.offer{
   text-align: center;
}

.teachers .box-container .box.offer h3{
   color: var(--black);
   font-size: 2.5rem;
   text-transform: capitalize;
}

.teachers .box-container .box.offer p{
   line-height: 2;
}

.teachers .search_tutor{
   margin-bottom: 2rem;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
   padding: 1.5rem 2rem;
   background-color: var(--white);
   border-radius: .5rem;
}

.teachers .search_tutor input{
   width: 100%;
   font-size: 1.8rem;
   color: var(--black);
}

.teachers .search_tutor button{
   font-size: 2.5rem;
   cursor: pointer;
   color: var(--black);
   background: none;
}

.teachers .search_tutor button:hover{
   color: var(--main-color);
}

.tutor-profile .details{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   text-align: center;
}

.tutor-profile .details .tutor{
   margin-bottom: 2rem;
   overflow-x: hidden;
}

.tutor-profile .details .tutor img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 1rem;
}

.tutor-profile .details .tutor .name{
   padding: .7rem 0;
   font-size: 2rem;
   color: var(--black);
   overflow-x: hidden;
   text-overflow: ellipsis;
}

.tutor-profile .details .tutor .profession{
   padding: 1rem 0;
   color: var(--light-color);
   font-size: 1.5rem;
}

.tutor-profile .details .tutor .email{
   font-size: 1.7rem;
   color: var(--main-color);
   padding-top: 0.5rem;
   overflow-x: hidden;
   text-overflow: ellipsis;
}

.tutor-profile .details .box-container{
   display: flex;
   flex-wrap: wrap;
   gap: 1.3rem;
}

.tutor-profile .details .box-container p{
   border-radius: .5rem;
   background-color: var(--light-bg);
   color: var(--light-color);
   font-size: 1.7rem;
   flex: 1 1 25rem;
   padding: 1rem;
}

.tutor-profile .details .box-container p span{
   color: var(--main-color);
   font-size: 2rem;
}

.contact .row{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   flex-wrap: wrap;
}

.contact .row .image{
   flex: 1 1 50rem;
}

.contact .row .image img{
   height: 50rem;
   width: 100%;
}

.contact .row form{
   flex:1 1 30rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   text-align: center;
}

.contact .row form h3{
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color: var(--black);
   text-transform: capitalize;
}

.contact .row form .box{
   width: 100%;
   margin: 1rem 0;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding: 1.4rem;
   color: var(--black);
   font-size: 1.8rem;
}

.contact .row form textarea{
   height: 20rem;
   resize: none;
}

.contact .box-container{
   margin-top: 3rem;
   display: flex;
   align-items: flex-start;
   gap: 1.5rem;
   flex-wrap: wrap;
}

.contact .box-container .box{
   flex: 1 1 30rem;
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
   text-align: center;
}

.contact .box-container .box i{
   font-size: 3rem;
   color: var(--main-color);
   margin-bottom: 1rem;
}

.contact .box-container .box h3{
   margin: 1.5rem 0;
   font-size: 2rem;
   color: var(--black);
}

.contact .box-container .box a{
   display: block;
   font-size: 1.7rem;
   color: var(--light-color);
   line-height: 1.5;
   margin-top: .5rem;
}

.contact .box-container .box a:hover{
   text-decoration: underline;
   color: var(--main-color);
}

.form-container{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: calc(100vh - 10rem);
}

.form-container form{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   width: 90rem;
}

.form-container .login{
   width: 50rem;
}

.form-container .flex{
   display: flex;
   gap: 2rem;
   flex-wrap: wrap;
}

.form-container .flex .col{
   flex: 1 1 25rem;
}

.form-container form h3{
   text-align: center;
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color: var(--black);
   text-transform: capitalize;
}

.form-container form p{
   padding-top: 1rem;
   font-size: 1.7rem;
   color: var(--light-color);
}

.form-container form p span{
   color: var(--red);
}

.form-container form .box{
   width: 100%;
   border-radius: .5rem;
   margin: 1rem 0;
   font-size: 1.8rem;
   color: var(--black);
   padding: 1.4rem;
   background-color: var(--light-bg);
}

.form-container .link{
   padding-bottom: 1rem;
   text-align: center;
   font-size: 2rem;
}

.form-container .link a{
   color: var(--main-color);
}

.form-container .link a:hover{
   color: var(--black);
   text-decoration: underline;
}

.tutor-profile .details{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   text-align: center;
   overflow-x: hidden;
}

.tutor-profile .details .tutor{
   margin-bottom: 3rem;
   text-align: center;
}

.tutor-profile .details .tutor img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: .5rem;
}

.tutor-profile .details .tutor h3{
   font-size: 2.5rem;
   color: var(--black);
   margin: .5rem 0;
   text-overflow: ellipsis;
   overflow-x: hidden;
}

.tutor-profile .details .tutor p{
   font-size: 1.8rem;
   color: var(--main-color);
   padding-bottom: 1rem;
   text-overflow: ellipsis;
   overflow-x: hidden;
}

.tutor-profile .details .tutor span{
   font-size: 1.8rem;
   color: var(--light-color);
   display: block;
}

.tutor-profile .details .box-container{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.tutor-profile .details .box-container .box{
   flex: 1 1 26rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding: 2rem;
   text-align: center;
}

.tutor-profile .details .box-container .box h3{
   font-size: 2.5rem;
   color: var(--black);
   margin-bottom: 0.5rem;
}

.tutor-profile .details .box-container .box p{
   padding: 0.5rem 0;
   font-size: 1.8rem;
   color: var(--light-color);
}

.comment-form form{
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
}

.comment-form form textarea{
   width: 100%;
   border-radius: .5rem;
   padding: 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
   background-color: var(--light-bg);
   height: 20rem;
   resize: none;
   margin-bottom: 1rem;
}

.comments .box-container {
   display: grid;
   gap: 2.5rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
}

.comments .box-container .box .user{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   padding-bottom: 1rem;
}

.comments .box-container .box .user img{
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   object-fit: cover;
}

.comments .box-container .box .user h3{
   font-size: 2rem;
   color: var(--black);
   margin-bottom: 0.2rem;
}

#verify{
   font-size: 1.8rem;
   /* background-color: var(--main-color); */
   color: var(--main-color);
}

.comments .box-container .box .user .h3 span{
   line-height: 5;
   margin-bottom: 12px;
}

.comments .box-container .box .user span {
   font-size: 1.5rem;
   color: var(--light-color);
}

.comments .box-container .box .comment-box{
   background-color: var(--light-bg);
   position: relative;
   border-radius: .5rem;
   font-size: 1.7rem;
   color: var(--black);
   padding: 1.5rem;
   margin: .5rem 0;
   margin-top: 1.5rem;
   white-space: pre-line;
}

.comments .box-container .box .comment-box::before{
   content: '';
   position: absolute;
   top: -1.1rem;
   left: 1.5rem;
   height: 2rem;
   width: 2rem;
   border-radius: .1rem;
   transform: rotate(45deg);
   background-color: var(--light-bg);
}

.comments .box-container .box .comment-content{
   background-color: var(--black);
   padding: 1.5rem 2rem;
   border-radius: .5rem;
   margin-bottom: 1.5rem;
   display: flex;
   gap: 1rem;
   align-items: center;
   font-size: 1.7rem;
   justify-content: space-between;
}

.comments .box-container .box .comment-content a{
   margin-top: 0;
   color: var(--main-color);
}

.comments .box-container .box .comment-content a:hover{
   color: var(--white);
}

.comments .box-container .box .comment-content p{
   color: var(--white);
   text-transform: capitalize;
}

.comment_content{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.comment_content p{
   color: var(--black);
   padding: .5rem 1.4rem;
   /* background-color: var(--main-color); */
   border-radius: .5rem;
   font-size: 1.2rem;
}

.comment_content a{
   color: var(--white);
   padding: .5rem 1.4rem;
   background-color: var(--main-color);
   border-radius: .5rem;
   font-size: 1.2rem;
}

















.footer{
   position: static;
   bottom: 0; 
   left: 0;
   right: 0;
   background-color: var(--white);
   border-top: var(--border);
   padding:1.4rem 1.4rem;
   text-align: center;
   color: var(--black);
   font-size: 1.3rem;
   margin-top: 3rem;
   z-index: 1000;
}

.footer.active{
    padding-left: 2rem;
}

.footer span{
   color: var(--main-color);
}

@media (max-width:1200px){
    body{
      padding-left: 0;
    }
    .side-bar{
      transition: .2s linear;
      left: -30rem;
    }
    .footer{
        padding-left: 2rem;
    }
    .side-bar.active{
      left: 0;
      box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
    }
    .side-bar #close-bar{
        display: block;
    }
}

@media (max-width:991px){
    html{
      font-size: 55%;
   }
}

@media (max-width:768px){
   #search-btn{
   display: inline-block;
   }
   .header .flex .search-form{
   position: absolute;
   top:99%; 
   left: 0; 
   right: 0;
   width: auto;
   border-top: var(--border);     
   border-bottom: var(--border);
   background-color: var(--white);
   clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   transition: .2s linear;
   }
   .header .flex .search-form.active{
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
    a.logo span{
      display: none;
   }
   .watch-video .content .video{
      height: auto;
   }
}

@media (max-width:450px){
    html{
      font-size: 50%;
   }
   .heading{
      font-size: 2rem;
   }
   body{
      padding-bottom: 12rem;
   }
   .playlists .box-container{
      grid-template-columns: 1fr;
   }
   .flex-btn{
      flex-flow: column;
      gap: 0;
   }
   .courses .box-container{
      grid-template-columns: 1fr;
   }
   .about .row .image img{
   height: auto;
   }
   .playlist-details .row .col .thumb{
      height: 25rem;
   }
   .teachers .box-container{
      grid-template-columns: 1fr;
   }
}
